@import "tailwindcss";
@theme{
  --color-primary: #0d6efd;
  --color-primary-border: #0C5ED9;
  --color-primary-dark: #4E91F6;
  --color-secondary: #6c757d;
  --color-secondary-dark: #5c636a;
  --color-danger: #dc3545;
  --color-danger-dark: #bb2d3b;
}
@layer base{}
@layer components{
  .btn{
    @apply px-4 py-2 rounded-md font-normal select-none cursor-pointer inline-block;
    &:hover{
      @apply text-lg font-bold;
    }
    &:disabled{
      @apply bg-gray-300 text-gray-500 cursor-not-allowed hover:bg-gray-300;
    }
  }
  /* .btn:disabled{
    @apply bg-gray-300 text-gray-500 cursor-not-allowed hover:bg-gray-300;
  } */

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark border-[2px] border-primary-border;
    &:focus{
      @apply outline-blue-700
    }
    &:disabled {
      @apply bg-sky-200 text-sky-400 hover:bg-sky-200;
    }
  }


  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary-dark;
  }
  .btn-danger {
    @apply bg-danger text-white hover:bg-danger-dark;
  }
}
@layer utilities{}